@{
    ViewBag.Title = "Contact";
}
<h2>To View The Data Whose Status Is Wining</h2>

<h3>Click on the Below Link</h3>

<div>
    @Html.ActionLink("Click here to search for result   ", "Fetch")
</div>


